@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff;
    height: 80px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav li {
    margin: 0 30px;
  }
  
  .nav a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #4F236E;
    font-size: 15px;
  }
  
  .nav a:hover {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #4F236E;
    text-decoration: none;
    border-bottom: solid #4F236E;
    padding-bottom: 10px;
    transition: .5s ease;
  }
  
  .search-form {
    width: 200px;
    margin: 0 10px;
    border-radius: 15px;
    background-color: #E6DBEB;
  }
  
  .search-form input {
    background-color: #E6DBEB;
    border-radius: 15px;
    border: 2px solid #4F236E;
    padding: 10px;
    font-size: 16px;
  }
  
  a.fas {
    color: #333333;
    font-size: 20px;
  }
  
  .login-buttons {
    margin: 10px 0;
  }
  
  .login-buttons button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333333;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .price_full{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #4F236E;
    text-align: center;
    margin-bottom: 0;
  }

  .price_parc {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #4F236E;
    text-align: center;
    margin-top: 0;
  }

  .product {
    padding: 15px;
    margin: 0 10px;
    border-radius: 15px;
    background-color: #fff;
    border: solid #4F236E;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #2962FF;
  }

  .line2 {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  
  .logo {
    height: 90px;
    width: auto;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner img {
    width: 80%;
    height: auto;
  }